body {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  flex-direction: column;
}

.greeting-button {
  background: #81058f;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 800;
  padding: 10px 30px;
}

.greeting-button:active {
  background: #5d0966;
}

p {
  text-align: center;
}